<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A lo Mexa</title>
</head>

<!-- Contenido -->

<body>
  <div class="center">
    <div class="container">

      <div>

        <!--<img src="assets/images/logo.png" class="logotipo">-->
        <div class="text">Bienvenidos</div>
        <div id="mensaje"><p>Ingresa tus datos para iniciar sesion</p></div>

      </div>

      <form action="#">
        <div class="data">
          <input type="email" placeholder="Ingresa tu correo" required>
        </div>
        <div class="data">
          <input type="password" placeholder="Ingresa tu contaseña" required>
        </div>
        <div class="btn">
          <div class="inner">
          </div>

          <button type="submit" routerLink="">Iniciar sesion</button>
        </div>
      </form>

      <div class="signup-link" routerLink="">¿No tienes cuenta?<a class="registro" routerLink="#">Registrate</a></div>
    </div>
  </div>
</body>
</html>
