<body>
  <div class="container">
    <div class="forms">
      <div class="form_login">

        <span class="title">Contactanos</span>

        <form action="#">
          <div class="datadata">
              <input type="text" placeholder="User Name" required>
              <input type="text" placeholder=" User Surnames" required>
          </div>

          <div class="data">
            <input type="email" placeholder="Email Address" required>
          </div>

          <div class="data">
            <input type="number" placeholder="Phone" required>
          </div>

          <div class="data">
            <input type="text" placeholder="how did you know about us" required>
          </div>

          <div class="data">
            <input type="text" placeholder="Comments" required>
          </div>

          <div class="data button">
            <button type="submit" routerLink="">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
